.recipe-filter {
	color: var(--text-color-wht);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: var(--text-font);
	font-size: 1.2em;
	position: relative;
}

.button-filter {
	background-color: var(--bg-color-lightred);
	border-color: rgba(0, 0, 0, 0.3);
	height: var(--control-height);
	width: var(--control-height);
}

.button-filter img {
	display: block;
	max-width: 95%;
	max-height: 95%;
	height: auto;
	width: auto;
}

.button-filter:hover {
	opacity: 0.5;
}

.input-filter-recipe {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color-brightred);
	padding: 2em;
	gap: 1em;
	overflow: hidden;
	transform-origin: top;
	position: absolute;
	z-index: 1000;
	top: calc(100% + 0.2rem);
	left: 0;
}

.input-filter-ingredient {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color-darkred);
	padding: 2em;
	gap: 1em;
	overflow: hidden;
	transform-origin: top;
	position: absolute;
	z-index: 1000;
	top: calc(100% + 0.2rem);
	left: 0;
}

.input-filter-recipe.open {
	animation: slideDown 0.3s ease forwards;
}

.input-filter-ingredient.open {
	animation: slideDown 0.3s ease forwards;
}

.input-filter-recipe.closing {
	animation: slideUp 0.3s ease forwards;
}

.input-filter-ingredient.closing {
	animation: slideUp 0.3s ease forwards;
}

@keyframes slideDown {
	from {
		transform: scaleY(0.8);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: scaleY(1);
		opacity: 1;
	}
	to {
		transform: scaleY(0.8);
		opacity: 0;
	}
}

.input {
	width: auto;
	background-color: var(--text-color-wht);
	border: none;
	border-radius: 2px;
	margin-right: 4em;
}

.stick-filter {
	accent-color: var(--text-color-wht);
	cursor: grab;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: var(--text-color-wht);
	height: 6px;
	border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	background: #3498db;
	border-radius: 50%;
	margin-top: -5px;
}

.input-form {
	display: flex;
}
