.site-footer {
	display: flex;
	justify-content: center;
	padding: 1.5rem 1rem;
	text-align: center;
	font-size: 0.9rem;
	color: var(--text-color-ftr);
	background-color: var(--bg-color-wht);

	box-shadow: inset 0 8px 18px -12px rgba(90, 15, 20, 0.25);
}
