.global-nav {
	display: flex;
	max-width: 1200px;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 1rem;
	margin: 0 auto;
	background-color: var(--bg-color);
	color: var(--text-color-blk);
	font-family: var(--title-font);
}

.nav-logo {
	display: inline-flex;
	align-items: center;
}

.logo-image {
	height: 4em;
	width: auto;
}

.nav-links {
	display: flex;
	gap: 3rem;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-links a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--text-color-blk);
	font-weight: 500;
	font-family: "PPRight", var(--title-font), serif;
	font-size: 2rem;
	transition: all 0.25s ease;
	position: relative;
}

.nav-links a:hover,
.nav-links a:focus {
	color: var(--bg-color-brightred);
}

.nav-links a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0%;
	height: 3px;
	border-radius: 3px;
	background-color: var(--bg-color-brightred);
	transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a:focus::after {
	width: 100%;
}
