.recipe-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
	width: 300px;
	height: 288px;
	font-family: var(--text-font);
	background-color: var(--bg-color-fiche);
}

h2 {
	font-family: var(--text-font);
	margin: 6px;
	text-align: center;
}

hr {
	border: 1px solid var(--bg-color-darkred);
	width: 200px;
	margin: 0 auto;
}

.recipe-card-favorites {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #dfd6cd;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	border: none;
	background-color: --bg-color;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color .2s ease, transform .2s ease;
}

.recipe-card-favorites:hover {
	background-color: var(--bg-color-brightred);
	transform: scale(1);
}

.recipe-card-favorites:hover img {
	filter: brightness(0) invert(1);
}

.recipe-card-button {
	text-decoration: none;
	color: #000000;
	font-family: var(--text-font);
	height: 40px;
	width: 40px;
	border: none;
	border-radius: 100px;
	background-color: #dfd6cd;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recipe-card-button:hover {
	opacity: 0.8;
	background-color: var(--bg-color-brightred);
}

.recipe-card-button:hover img {
	filter: brightness(0) invert(1);
}

.recipe-card-picture {
	width: 300px;
	height: 138px;
	object-fit: cover;
	object-position: 100% 50%;
}

.recipe-card-infos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 9px;
}

.recipe-card-prep-time {
	display: flex;
	gap: 3px;
}
