.recipe-filter {
	color: var(--text-color-wht);
	width: 20em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-family: var(--text-font);
	font-size: 1.2em;
}

.button-filter {
	background-color: var(--bg-color-lightred);
	border: solid rgba(0, 0, 0, 0.3);
	height: 67.2px;
	width: 67.2px;
	img {
		height: 3em;
	}
}

.input-filter {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color-brightred);
	padding: 2em;
	gap: 1em;
	overflow: hidden;
	transform-origin: top;
}

.input-filter.open {
	animation: slideDown 0.3s ease forwards;
}

.input-filter.closing {
	animation: slideUp 0.3s ease forwards;
}

@keyframes slideDown {
	from {
		transform: scaleY(0.8);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: scaleY(1);
		opacity: 1;
	}
	to {
		transform: scaleY(0.8);
		opacity: 0;
	}
}

.input {
	width: 4em;
	background-color: var(--text-color-wht);
	border: none;
	border-radius: 2px;
	margin-right: 2em;
}

.stick-filter {
	accent-color: var(--text-color-wht);
}

.input-form {
	display: flex;
}
