.recipe-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
	width: 276px;
	height: 264px;
	font-family: var(--text-font);
	background-color: var(--bg-color-fiche);
}

h2 {
	font-family: var(--text-font);
	margin: 6px;
}

hr {
	border: 1px solid var(--bg-color-darkred);
	width: 200px;
	margin: 0 0 0 10;
}

.recipe-card-favorites {
	border: none;
	background-color: transparent;
}

.recipe-card-button {
	text-decoration: none;
	color: #000000;
	font-family: var(--text-font);
	height: 20px;
	width: 83px;
	border: none;
	border-radius: 10px;
	font-weight: 500;
	background-color: #dfd6cd;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recipe-card-button:hover {
	opacity: 0.8;
}

.recipe-card-picture {
	width: 276px;
	height: 138px;
	object-fit: cover;
	object-position: 100% 50%;
}

.recipe-card-infos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 9px;
}

.recipe-card-prep-time {
	display: flex;
	gap: 3px;
}
