.scroll-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 48px;
	height: 48px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	border: 1px solid var(--text-color-blk);
	background-color: var(--bg-color);
	color: var(--text-color-blk);

	font-size: 1.5rem;
	cursor: pointer;
	z-index: 1000;

	transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
	transform: translateY(-4px);
	background-color: var(--bg-color-brightred);
	color: #fff;
}
