.search {
	display: flex;
	justify-content: center;
	padding-left: calc(20em);
}

.search-switch {
	background-color: var(--bg-color-brightred);
	font-family: var(--text-font);
	padding: 12px 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	height: 100%;
	transition: all .15s ease;
}

.search-switch-recipe {
	background-color: var(--bg-color-brightred);
}

.search-switch-ingredient {
	background-color: var(--bg-color-darkred);
}

.search-switch input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.search-switch span {
	color: white;
	font-size: 1.8em;
	font-weight: 700;
	letter-spacing: 1.25px;
	width: 120px;
	text-align: start;
}

.search-switch label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: calc(40px / 2);
	background: #062504;
	display: block;
	border-radius: calc(40px / 2);
	position: relative;
}

.search-switch label:after {
	content: "";
	position: absolute;
	top: calc(40px / 40);
	left: calc(40px / 40);
	width: calc(40px / 2 - calc(40px / 20));
	height: calc(40px / 2 - calc(40px / 20));
	background: #fff;
	border-radius: calc(40px / 2 - calc(40px / 20));
	transition: 0.3s;
}

.search-switch input:checked + label {
	background: #062504;
}

.search-switch input:checked + label:after {
	left: calc(100% - 2.5px);
	transform: translateX(-100%);
}

.search-switch label:active:after {
	width: 65px;
}

.search-input::placeholder {
	font-family: var(--text-font);
	font-size: 20px;
	color: rgba(216, 208, 208, 1);
	letter-spacing: 0.75px;
	font-weight: 100;
}
.search-bar {
	position: relative;
	width: 345px;
	background-color: #999;
	max-height: 66px;
}

.search-input {
	max-height: 67px;
	width: 100%;
	height: 100%;
	border-radius: 0px;
	padding-left: 12px;
	border-color: rgba(0, 0, 0, 0.3);
}

.search-btn {
	position: absolute;
	border: none;
	background-color: transparent;
	right: 4px;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: auto;
	max-height: 66px;
}

.search-btn img {
	width: 100%;
	height: auto;
	max-height: 66px;
}

.search-results {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

.filtered-ingredient-list button {
	margin-top: 0.65em;
	width: 30em;
}

.filtered-ingredient {
	border-radius: 4px;
	display: flex;
	gap: 2.2em;
	flex-direction: row;
	align-items: center;
	border: none;
	background: none;
	cursor: pointer;
}

.filtered-ingredient-default {
	background-color: #dbdbdbff;
}

.filtered-ingredient-selected {
	background-color: #b9b9b9ff;
}

.filtered-ingredient-img {
	width: 100%;
	height: auto;
	max-width: 48px;
}

.selected-ingredient-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	border: none;
	font-family: Arial, sans-serif;
	transform: translate(50%, -50%);
	background-color: lightgray;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	color: black;
	font-weight: 800;
}

.selected-ingredients {
	display: flex;
	flex-direction: row;
	gap: 16px;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
}

.selected-ingredient-card {
	background-color: #e9e9e9ff;
	border-radius: 4px;
	display: flex;
	gap: 2px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	max-width: 120px;
	position: relative;
	padding-bottom: 0.5em;
	font-family: var(--text-font);
}

.selected-ingredient-img {
	width: 100%;
	height: auto;
	max-width: 80px;
}

.selected-ingredient-card span {
	font-size: 14;
	font-weight: bold;
}
