.signup-card {
	width: 100%;
	max-width: 420px;
	margin: 1rem auto;
	padding: 2rem;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;

	font-family: "ArchivoNarrow", sans-serif;
}

.signup-error {
	font-size: 1.8rem;
	font-weight: bold;
	color: var(--bg-color-darkred);
	text-align: center;
}

.signup-image {
	width: 100%;
	max-width: 260px;
	object-fit: contain;
}
