@font-face {
	font-family: "ArchivoNarrow";
	src: url(src/assets/fonts/ArchivoNarrow.ttf);
}

@font-face {
	font-family: "PPRight";
	src: url(src/assets/fonts/PPRight.otf);
}

:root {
	--title-font: "PPRight", "Montsserat";
	--text-font: "ArchivoNarrow", "Lora", serif;
	--bg-color: rgba(254, 251, 249, 1);
	--text-color-blk: rgba(0, 0, 0, 1);
	--bg-color-fiche: rgba(223, 214, 205, 0.29);
	--bg-color-darkred: rgba(161, 41, 51, 1);
	--bg-color-brightred: rgba(230, 59, 68, 1);
	--text-color-wht: rgba(255, 255, 255, 1);
	--text-color-ftr: rgba(136, 132, 132, 1);
	--border-color: rgba(0, 0, 0, 0.3);
}
